body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

.container {
    text-align: center;
    width: 80%;
    max-width: 600px;
}

header h1 {
    margin: 0;
    color: #333;
}

header p {
    color: #666;
}

.game-area {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.car-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.user-input, .btn {
    padding: 10px;
    margin: 10px 0 10px 0; /* Adjusted margin */
    width: calc(100% - 22px); /* Adjust width if necessary */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block; /* Ensure input and buttons are block elements */
    margin-left: auto; /* Center align the element */
    margin-right: auto; /* Center align the element */
}

.btn {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
}

    .btn:hover {
        background-color: #0056b3;
    }

.feedback {
    margin-top: 20px;
    color: #333; /* Ensure feedback is visible */
}

footer {
    margin-top: 20px;
    color: #777;
}
